
/* Top padding: (padding-top) */
.m-t-0 {
  margin-top: 0 !important; }

.m-t-xs {
  margin-top: 6px !important; }

.m-t-sm {
  margin-top: 12px !important; }

.m-t-md {
  margin-top: 16px !important; }

.m-t-lg {
  margin-top: 24px !important; }

.m-t-xl {
  margin-top: 32px !important; }

/* Right padding: (padding-right) */
.m-r-0 {
  margin-right: 0 !important; }

.m-r-xs {
  margin-right: 6px !important; }

.m-r-sm {
  margin-right: 12px !important; }

.m-r-md {
  margin-right: 16px !important; }

.m-r-lg {
  margin-right: 24px !important; }

.m-r-xl {
  margin-right: 32px !important; }

/* Bottom padding: (padding-bottom) */
.m-b-0 {
  margin-bottom: 0 !important; }

.m-b-xs {
  margin-bottom: 6px !important; }

.m-b-sm {
  margin-bottom: 12px !important; }

.m-b-md {
  margin-bottom: 16px !important; }

.m-b-lg {
  margin-bottom: 24px !important; }

.m-b-xl {
  margin-bottom: 32px !important; }

/* Left padding: (padding-left) */
.m-l-0 {
  margin-left: 0 !important; }

.m-l-xs {
  margin-left: 6px !important; }

.m-l-sm {
  margin-left: 12px !important; }

.m-l-md {
  margin-left: 16px !important; }

.m-l-lg {
  margin-left: 24px !important; }

.m-l-xl {
  margin-left: 32px !important; }
